* {
  max-width: 1366px;
  max-height: 768px;
  margin: 0 auto;
  padding: auto;
}

body {
  background: rgb(253, 251, 251);
  font-family: fantasy;
  line-height: 20px;
}

nav {
  position: fixed;
  margin-left: 20px;
  text-align: center;
  top: 60px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

nav ul li {
  list-style: none;
  font-weight: 800;
}

.text-branco {
  color: white;
}

.hidder {
  display: none;
}

.icone {
  width: 30px;
  height: 30px;
}

#titulo {
  margin-top: 3%;
  text-align: center;
  font-size: 45px;
}

#minha_foto {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: green;
  width: 1336px;
  height: 100px;
  border-radius: 0 0 10px 10px;
}

#tabela {
  float: left;
  border: 1px solid black;
  width: 240px;
  margin-left: 0;
  border-radius: 0 0 15px 15px;
}

aside , article {
  clear: both;
}

.sessao-lista {
  margin-top: 105px;
  margin-right: 139px;
  margin-left: 50px;
  float: left;
}

.sessao-lista li:hover {
  background: green;
}

#licoes_aprendidas li , #licoes_a_aprender li {
  list-style: none;
}

ul , ol {
  padding: 0;
}

.lado-esquerdo , .lado-direito {
  margin-top: 10%;
  width: 45%;
  margin-right: 20px;
}

.lado-direito {
  display: inline-block;
}

.lado-esquerdo {
  display: inline-block;
  float: left;
}
