* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 251, 251);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: darkcyan;
  width: 100%;
  height: 100px;
}

#titulo {
  color: rgb(253, 251, 251);
  margin-top: 40px;
  margin-left: 440px;
}

#minha_foto {
  width: 200px;
  margin-top: 150px;
  margin-left: 10px;
  border: 2px solid darkcyan;
}

.navegacao {
  background-color: darkgray;
  margin-top: 40px;

}

.navegacao li {
  display: inline;
  margin-left: 230px;
}

.navegacao li:hover {
  background-color: bisque;
  border-radius: 5px;
  color: rgb(141, 3, 3);
}

#portifolio {
  background-color: cornflowerblue;
  border-radius: 5px;
  height: 25px;
  width: 150px;
  padding-left: 0;
  padding-right: 9px;
  padding-top: 8px;
  margin-top: 600px;
  margin-left: 50px;
  text-decoration: none;
}

#port {
  margin-top: 20px;
}

#portifolio:hover {
  color: white;
}

.artigo {
  width: 500px;
  display: inline-block;
}

.lateral {
  width: 500px;
  margin-bottom: 50px;
}

#licoes-a , #licoes-b {
  margin-top: 40px;
  margin-left: 10px;
}

#licoes_aprendidas {
  margin-top: 20px;
  margin-bottom: 80px;
  margin-left: 10px;
  list-style: none;
  line-height: 25px;
}

#licoes_a_aprender {
  margin-top: 20px;
  margin-bottom: 80px;
  margin-left: 10px;
  list-style: none;
  line-height: 25px;
}

#rodape {
  margin-top: 100px;
  margin-left: 40%;
  font-family: monospace;
  font-size: 14px;
}

.conteiner {
  text-align: justify;
}

.lado-direito {
  display: inline-block;
  margin-left: 150px;
  vertical-align: middle;
  line-height: 30px;
}

.lado-esquerdo {
  display: inline-block;
  margin-left: 150px;
  vertical-align: middle;
  line-height: 25px;
}

#tabela {
  color: rgb(88, 81, 81);
  background-color: antiquewhite;
  margin-top: 50px;
  margin-left: 150px;
  width: 500px;
}

.title-art{
  margin-bottom: 10px;
}