body {
    background-color: rgb(253, 251, 251);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: #fff;
    background-color: rgb(9, 122, 214);
    border-radius: 5px;
    font-size: 32px;
}

#cabecalho {
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgb(34, 124, 94);
    height:100px;
    width: 100%;
}

#titulo {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    border: 4px solid black;
    background-color: rgb(185, 116, 5);
    margin-top: 150px;
}

#nav {
    margin: 25px;
}

#nav a {
    color: rgb(241, 226, 12);
    background-color: black;
    border-radius: 5px;
    padding: 5px 10px;
}

.foto {
    margin-top: 50px;
    margin-left: 50px;
    float: left;
}

#minha_foto {
    width: 400px;
}

.licoes {
    display:inline-block;
    margin-top: -10em;
    margin-left: 40px;
}

#licoes_aprendidas {
    margin-left: 30px;
    border: 4px solid black;
    background-color: rgb(0, 138, 251);
    width: 300px;
}


#licoes_a_aprender {
    margin-left: 30px;
    border: 4px solid black;
    background-color: red;
    width: 300px;
}

.artigos {
    margin-top: 20px;
}

.lado_esquerdo {
    font-family: sans-serif;
    display: inline-block;
    border: 4px solid black;
    background-color: blue;
    width: 30%;
    margin-left: 50px;
    text-align: center;
    line-height: 1.5;
}

#artigo1 {
    color: #fff;
    padding: 50px 30px;
    font-size: 30px;
}

.lado_direito {
    display: inline-block;
    border: 4px solid black;
    background-color: blueviolet;
    width: 20%;
    text-align: center;
    margin-left: 20px;
    line-height: 1.5;
}

#artigo2 {
    color: #fff;
    padding: 0px 30px 40px 30px;
    font-size: 30px;
}

table {
    display: inline-block;
    padding: 50px;
    margin-left: 150px;
    margin-bottom: 80px;   
}

table, th, td {
    border: 1px solid black;
    background-color: rgb(58, 173, 173);
}

th {
    text-align: left;
}

#rodape {
    background-color: rgb(34, 124, 94);
    text-align: center;
    margin-top: 1%;
    font-size: 30px;
}
