body {
    background-color:  rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    margin-top: 0;
}

#minha_foto {
    height: 300px;
    display: inline-block;
}

.esquerda {
    float: left;
}

.direita {
    display: inline-block;
    margin-left: 30px;
    width: 300px;
    height: 200px;
    word-wrap: break-word;
    
    
}